{% include 'components/head.html' %}

    <title>Projets - BecauseOfProg</title>
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://becauseofprog.fr/page/projects">
    <meta property="og:title" content="Projets - BecauseOfProg">
    <meta property="og:description" content="Les projets BecauseOfProg">
    <meta property="og:image" content="https://cdn.becauseofprog.fr/logos/bop-transparent.png">
    <meta name="author" content="Team BOP">
  </head>
  <body>
    {% include 'components/header.html' %}

    <div class="welcome parallax-container">
			<div class="parallax"><img src="https://cdn.becauseofprog.fr/syst-images/bg.jpg"></div>
			<img src="https://cdn.becauseofprog.fr/logos/bop-transparent.png" class="responsive-img bop-logo" alt="Logo BOP">
			<h2 class="header white-text">Projets - BecauseOfProg</h2>
      <h5 class="subtitle grey-text">Tous les projets menés par les membres de la team BecauseOfProg</h5>
		</div>

  <div class="section white">
    <div class="row container">
      <p class="bop-breadcrumb">
        <a href="/" class="black-text">BecauseOfProg</a><i class="material-icons">chevron_right</i>
        <a href="#" class="black-text">Projets</a>
      </p>
      <p>Cette page sera complétée ultérieurement</p>
      <div class="collection">
        <a href="https://podcast.becauseofprog.fr" class="collection-item red-text text-darken-4">Youtube Podcasts</a>
        <a href="https://github.com/BecauseOfProg" class="collection-item red-text text-darken-4">Nos projets sur GitHub</a>
        <a href="https://github.com/BecauseOfProg/api-docs" class="collection-item red-text text-darken-4">Notre API</a>
        <a href="https://github.com/BecauseOfProg/boite-a-bois" class="collection-item red-text text-darken-4">Notre bot discord</a>
        <a href="https://github.com/BecauseOfProg/openweathermap-ruby" class="collection-item red-text text-darken-4">Une implémentation de l'API d'OpenStreetMap en Ruby</a>
      </div>
    </div>
  </div>
{% include 'components/footer.html' %}