{% include 'components/head.html' %}
    <title>Application - BecauseOfProg</title>
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://blog.becauseofprog.fr/page/app">
    <meta property="og:title" content="Recherche - BecauseOfProg">
    <meta property="og:description" content="Recherchez sur le blog BecauseOfProg">
    <meta property="og:image" content="https://cdn.becauseofprog.fr/logos/bop-transparent.png">
    <meta name="author" content="Team BOP">
  </head>
  <body>
    {% include 'components/header.html' %}

      <div class="welcome parallax-container">
				<div class="parallax"><img src="https://cdn.becauseofprog.fr/syst-images/bg.jpg"></div>
				<img src="https://cdn.becauseofprog.fr/logos/bop-transparent.png" class="responsive-img bop-logo" alt="Logo BOP">
				<h2 class="header white-text">Rechercher sur le blog</h2>
				<h5 class="subtitle grey-text">Pour accéder en un instant à toutes nos publications</h5>
      </div>
      {% if error %}<div class="container row center"><p>{{ error }}</p></div>{% endif %}
      <div class="section white" id="presentation">
        <nav class="container row center">
          <div class="nav-wrapper red darken-3">
            <form action="/page/search">
              <div class="input-field">
                <input id="search" type="search" name="s" value="{{ keyword }}" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>
      </div>
{% include 'components/footer.html' %}