{% extends "index.html" %}
{% block title %}Compte BecauseOfProg{% endblock %}
{% block description %}Votre compte sur le site de BecauseOfProg{% endblock %}
{% block url %}https://becauseofprog.fr/account{% endblock %}
{% block image %}https://cdn.becauseofprog.fr/logos/bop-transparent.png{% endblock %}
{% block author %}Équipe BecauseOfProg{% endblock %}

{% block content %}
  <div class="welcome parallax-container h250px">
    <div class="parallax">
      <img src="https://cdn.becauseofprog.fr/syst-images/bg.jpg">
    </div>
    <h4 class="header white-text">
      <i class="material-icons md-48">account_circle</i>
      <br>Mon compte - BecauseOfProg
    </h4>
  </div>
  <div class="container row">
    <div class="col l8 s12">
      {% if error %}<p>{{ error }}</p>{% endif %}
      <p>Bienvenue sur votre compte BecauseOfProg, {{ u.displayname }}. Cette page sera complétée ultérieurement.</p>
      <a href="/new-post">Ecrire un article</a></p>
      <a href="/logout">Se déconnecter</a></p>
      <a href="/">Le site BecauseOfProg</a></p>

      <div class="card author-card horizontal">
        <div class="card-image">
          <img src="{{ u.avatar }}">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">{{ u.displayname }}</span>
            <p><i>{{ u.description }}</i></p>
          </div>
          <div class="card-action">
            <a href="https://becauseofprog.fr/user/{{ u.username }}">
              <img src="https://cdn.becauseofprog.fr/logos/bop-transparent.png">
            </a>
            <!--{% if u.socials != "Non renseigné" %}<a href="https://twitter.com/{{ u.socials }}">
                <img src="https://cdn.becauseofprog.fr/syst-icons/twitter.png">
              </a>{% endif %}
              {% if u.socials != "Non renseigné"%}<a href="https://github.com/{{ u.socials }}">
                <img src="https://cdn.becauseofprog.fr/syst-icons/github.png">
              </a>{% endif %}-->
          </div>
        </div>
      </div>
    </div>
    <div class="col l4 s12">
      <ul class="collection z-depth-2">
        <li class="collection-item grey lighten-3">
          <h5>Votre compte BecauseOfProg</h5>
          <p>Votre compte est global, utilisable sur le site entier. Nous mettons tout en oeuvre pour assurer la
            sécurité et la confidentialité de vos données sur nos serveurs.</p>
          <a class="waves-effect waves-light btn red darken-4" href="/page/about"><i
            class="material-icons right">info</i>Plus</a><br/>
        </li>
        <li class="collection-item grey lighten-4"><a class="red-text text-darken-4" href="/">Accueil</a></li>
        <li class="collection-item grey lighten-4"><a class="red-text text-darken-4" href="/blog">Blog</a></li>
        <li class="collection-item grey lighten-4"><a class="red-text text-darken-4" href="/">Projets</a></li>
      </ul>
    </div>
  </div>
{% endblock %}