<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:build="http://schemas.microsoft.com/developer/appx/2015/build" IgnorableNamespaces="uap mp build">

  <Identity Name="ffee02ad-4c97-64b5-58bf-ff5080b77f6e" Version="1.0.0.0" Publisher="CN=user"/>

  <mp:PhoneIdentity PhoneProductId="ffee02ad-4c97-64b5-58bf-ff5080b77f6e" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  
  <build:Metadata>
    <build:Item Name="GenerationTool" Version="pwabuilder-api"/>
    <build:Item Name="GenerationToolVersion" Version="2.0.1-rc.0"/>
    <build:Item Name="PlatformId" Value="windows10"/>
    <build:Item Name="PlatformPackage" Value="pwabuilder-windows10"/>
    <build:Item Name="PlatformVersion" Version="2.0.3-rc.1"/>
    <build:Item Name="GeneratedFrom" Value="Website Wizard"/>
    <build:Item Name="GenerationDate" Value="2018-12-29 11:31:50 Z"/>
		<build:Item Name="GeneratedURL" Value="https://becauseofprog.fr/manifest.json" />
  </build:Metadata>

  <Properties>
    <DisplayName>BecauseOfProg</DisplayName>
    <PublisherDisplayName>user</PublisherDisplayName>
    <Logo>images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0"/>
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="BecauseOfProg" StartPage="https://becauseofprog.fr/">

      <uap:VisualElements DisplayName="BecauseOfProg" Description="BecauseOfProg" BackgroundColor="#F5F5F5" Square150x150Logo="images\Square150x150Logo.png" Square44x44Logo="images\Square44x44Logo.png">
        
				 
        
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait"/>
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      
      <uap:ApplicationContentUriRules>
        
				<uap:Rule Type="include" WindowsRuntimeAccess="all" Match="https://becauseofprog.fr/" />
      </uap:ApplicationContentUriRules>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient"/>
    
  </Capabilities>

</Package>