.vscode/
.idea/
__pycache__/

config.json
.pyc
.cpython-37.pyc
__init__.cpython-37.pyc
db/__pycache__/db.cpython-37.pyc
db/__pycache__/models.cpython-37.pyc
utils/__pycache__/time_to_rss.cpython-37.pyc
utils/__pycache__/links.cpython-37.pyc
utils/__pycache__/image_proxy.cpython-37.pyc
utils/__pycache__/fill_informations.cpython-37.pyc
utils/__pycache__/checklogin.cpython-37.pyc
utils/__pycache__/__init__.cpython-37.pyc
views/__pycache__/account.cpython-37.pyc
views/__pycache__/article.cpython-37.pyc
views/__pycache__/blog.cpython-37.pyc
views/__pycache__/category.cpython-37.pyc
views/__pycache__/index.cpython-37.pyc
views/__pycache__/misc.cpython-37.pyc
views/__pycache__/new_post.cpython-37.pyc
views/__pycache__/page_about.cpython-37.pyc
views/__pycache__/page_app.cpython-37.pyc
views/__pycache__/page_links.cpython-37.pyc
views/__pycache__/page_search.cpython-37.pyc
views/__pycache__/type.cpython-37.pyc


doc/