dark = #ff514c
light = #ff9779

.primary
  background: rgb(255,81,76)
  background: linear-gradient(90deg, rgba(255,81,76,1) 0%, rgba(255,151,121,1) 100%)
  /* the main gradient with new colors */

.primary--text
  color: #e33733!important

.secondary
  background-color: light !important
  border-color: light !important

.secondary--text
  color: light !important