light = #ff9779
dark = #ff514c
darker = #e33733

.primary
  background: rgb(255,81,76)
  // the main gradient with new color scheme
  background: linear-gradient(90deg, rgba(255,81,76,1) 0%, rgba(255,151,121,1) 100%)

.primary--text
  color: darker !important

.secondary
  background-color: light !important
  border-color: light !important

.secondary--text
  color: light !important
