primary = #bb0b0b
secondary = #cf0a1d

.primary
  background-color: primary !important
  border-color: primary !important

.primary--text
  color: primary !important

.secondary
  background-color: secondary !important
  border-color: secondary !important

.secondary--text
  color: secondary !important
