.h170px
  height: 200px

.h300px
  height: 300px

.semitransparent
  background: rgba(60, 0, 0, 0.1)

@media only screen and (max-width: 1000px)
  .no-mobile
    display: none

  .h250px
    height: 270px

@media only screen and (min-width: 1000px)
  .h250px
    height: 250px

.darker-bg
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))

.tx-center
  text-align: center