.h170px
  height: 200px

.h300px
  height: 300px

.tx-center
  text-align: center

.semitransparent
  background: rgba(60, 0, 0, 0.1)

@media only screen and (max-width: 1000px)
  .no-mobile
    display: none

  .h250px
    height: 270px

@media only screen and (min-width: 1000px)
  .h250px
    height: 250px

.darker-bg
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))

.shadow
  text-shadow: 0 0 9px #555

.border-radius-top
  border-radius: 20px 20px 0 0 !important

.border-radius-left
  border-radius: 20px 0 0 20px !important
