{% extends "index.html" %}
{% block title %}À propos - BecauseOfProg{% endblock %}
{% block description %}À propos du site BecauseOfProg{% endblock %}
{% block url %}https://becauseofprog.fr/page/about{% endblock %}
{% block image %}https://cdn.becauseofprog.fr/v2/sites/becauseofprog.fr/assets/logos/bop.min.svg{% endblock %}
{% block author %}Équipe BecauseOfProg{% endblock %}

{% block content %}
  <!-- Fenêtres modales -->
  <div id="cgu-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Conditions générales d'utilisation</h4>
      <p>{% include 'components/cgu.html' %}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="btn-flat waves-effect primary--text modal-action modal-close">Fermer</a>
    </div>
  </div>
  <div id="privacy-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Protection des données personnelles</h4>
      <p>{% include 'components/privacy.html' %}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="btn-flat waves-effect primary--text modal-action modal-close">Fermer</a>
    </div>
  </div>

  <div class="welcome parallax-container h250px">
    <div class="parallax primary"></div>
    <h4 class="header white-text">
      <i class="material-icons md-48">
        <span class="iconify" data-icon="mdi-information-outline"></span>
      </i>
      <br/>
      À propos - BecauseOfProg
    </h4>
  </div>

  <div class="row container">
    <p class="bop-breadcrumb">
      {{ breadcrumb(['À propos'])|safe }}
    </p>
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s12 m3">
              <img src="https://cdn.becauseofprog.fr/v2/sites/becauseofprog.fr/assets/logos/bop.min.svg" alt="Logo BecauseOfProg" width="100%"/>
            </div>
            <div class="col s12 m9">
              <p>
                BecauseOfProg est un groupe de sept développeurs fondé en février 2017. Nous souhaitons réaliser de nombreux
                projets et de nombreuses créations ensemble.
                <br/><br/>Ce blog est un de ces projets. Il nous permet de partager nos astuces, nos méthodes et tutoriels dans
                des domaines divers et variés de l'informatique : la programmation, les réseaux, la cybersécurité ou bien la
                "culture internet". Ce blog, que nous avons développé nous-même, est aussi l'occasion de mettre en oeuvre nos
                compétences.
                <br/><br/>Le but de ce blog, comme tout blog sur Internet, n'est pas de créer un journal d'information objectif
                mais plutôt de parler des sujets qui nous intéressent, et éventuellement d'exposer nos points de vue (partiaux)
                sur les sujets que nous avons choisi. Vous trouverez donc beaucoup de sujets sur l'open-source, par exemple.
                <br/><br/>Notre organisation GitHub est à disposition si vous souhaitez vous investir dans nos projets.
                Toute aide est la bienvenue et nous nous adorons faire de nouvelles rencontres!
                D'ailleurs, <a href="https://github.com/BecauseOfProg/blog/blob/master/LICENSE">le code source de ce blog est ouvert</a>, jetez-y un coup d'oeil!
                <br/><br/>Soutenez notre travail en utilisant <a href="http://brave.com/bec202">notre lien partenaire Brave</a>, ou en faisant un don via Brave Rewards!
                Cela nous permettra de payer la machine qui héberge le blog, l'API et la base de données.
                <br/>Bonne lecture, et à bientôt!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container">
    <h3 class="center primary--text">
      L'équipe
    </h3>
    {% for user in staff %}
      <div class="col s12 m6 l4">
        <div class="card sticky-action large">
          <div class="card-image">
            <img class="responsive-img border-radius-top" lazy="{{ image_proxy(user.avatar, 400,400) }}"
              alt="Photo de profil de {{ user.displayname }}"/>
          </div>
          <div class="card-content">
            <span class="card-title grey-text text-darken-4">{{ user.displayname }}</span>
            {% for role in user.permissions %}
              <span class="chip">{{ roles[role] }}</span>
            {% endfor %}
            <p>{{user.description}}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="row container">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <h5 class="no-margin primary--text">Contact</h5>
          <ul class="collection no-border">
            <li class="collection-item avatar">
              <i class="material-icons circle blue lighten-2">
                <span class="iconify" data-icon="mdi-twitter"></span>
              </i>
              <span class="title">Twitter (officiel)</span>
              <p><a href="https://twitter.com/BecauseOfProg">https://twitter.com/BecauseOfProg</a></p>
            </li>

            <li class="collection-item avatar">
              <i class="material-icons circle blue lighten-2">
                <span class="iconify" data-icon="mdi-twitter"></span>
              </i>
              <span class="title">Twitter (membres)</span>
              <p>
                <a href="https://twitter.com/DavAll_">DavAll</a>‏ -
                <a href="https://twitter.com/exybore">Théo Vidal (exybore)</a>‏ -
                <a href="https://twitter.com/Gildas_FR">Gildas GH</a> -
                <a href="https://twitter.com/KOP_OF_TEA">Noéwen (kernoeb)</a>
              </p>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle blue darken-1">
                <span class="iconify" data-icon="mdi-discord"></span>
              </i>
              <span class="title">Discord</span>
              <p><a href="https://discord.becauseofprog.fr">https://discord.becauseofprog.fr</a></p>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle blue-grey">
                <span class="iconify" data-icon="mdi-github"></span>
              </i>
              <span class="title">GitHub</span>
              <p><a href="https://github.com/BecauseOfProg">BecauseOfProg</a></p>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle orange">
                <span class="iconify" data-icon="mdi-email-outline"></span>
              </i>
              <span class="title">E-Mail</span>
              <p>
                <script type=text/javascript>
                  var name = "contact"
                  var domain = "becauseofprog.fr"
                  document.write('<a href="mailto:' + name + '@' + domain + '">')
                  document.write(name + '@' + domain + '</a>')
                </script>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <h5 class="no-margin primary--text">Crédits</h5>
          <p>
            Ce blog a été développé par
            <a href="https://github.com/exybore">Théo Vidal (exybore)</a> et
            <a href="https://github.com/Gildas_GH">Gildas GH</a>.
            Logo « BecauseOfProg » créé par <a href="https://twitter.com/KOP_OF_TEA">Noéwen (kernoeb)</a>.
            Des mises à jour régulières sont effectuées grâce à la communauté qui rapporte
            les différents bugs. Merci à Stengarlis pour la modération.
          </p>
          <p>Remerciements à : </p>
          <ul class="browser-default">
            <li>Materialize (Alvin Wang et contributeurs) v1.0 - MIT</li>
            <li>Flask (Armin Ronacher, Pallets Projects et contributeurs) - BSD</li>
            <li>Python 3.7 (Python Software Foundation, et contributeurs)</li>
            <li>MariaDB - GPL v2</li>
            <li>uWSGI (Unbit) - GPL</li>
            <li>Debian</li>
            <li>Git, Linus Torvalds</li>
            <li>GitHub (GitHub Inc.)</li>
            <li>RSS par Aaron Swartz</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row container center">
    <div class="card">
      <div class="card-content">
        <h5 class="no-margin">Mentions légales</h5>
        <br/>
        <a
          class="btn-flat waves-effect primary--text modal-trigger"
          data-target="cgu-modal"
          href="cgu-modal">
          <i class="material-icons left">
            <span class="iconify" data-icon="mdi-file-search-outline"></span>
          </i>
          Conditions Générales d'utilisation
        </a>
        <a
          class="btn-flat waves-effect primary--text modal-trigger"
          data-target="privacy-modal"
          href="privacy-modal">
          <i class="material-icons left">
            <span class="iconify" data-icon="mdi-shield-account-outline"></span>
          </i>
          Protection des données personnelles
        </a>
      </div>
    </div>
  </div>
{% endblock %}