{% extends "index.html" %}
{% block title %}Liens - BecauseOfProg{% endblock %}
{% block description %}Nous partageons des liens vers des ressources, des blogs ou des articles
  intéressants{% endblock %}
{% block url %}https://becauseofprog.fr/page/links{% endblock %}
{% block image %}https://cdn.becauseofprog.fr/logos/bop-transparent.png{% endblock %}
{% block author %}Équipe BecauseOfProg{% endblock %}

{% block content %}
  <div class="welcome parallax-container">
    <div class="parallax">
      <img src="https://cdn.becauseofprog.fr/syst-images/bg.jpg" alt="Fond BecauseOfProg"/>
    </div>
    <img src="https://cdn.becauseofprog.fr/logos/bop-transparent.png" class="responsive-img bop-logo" alt="Logo BOP">
    <h2 class="header white-text">Les liens BecauseOfProg</h2>
    <h5 class="subtitle grey-text">Nous partageons des liens vers des ressources, des blogs ou des articles
      intéressants</h5>
  </div>

  <div class="row">
    <div class="col l5 m7 s12 offset-l2 offset-m1">
      <p class="bop-breadcrumb">
        <a href="/" class="black-text">BecauseOfProg</a>
        <i class="material-icons"><span class="iconify" data-icon="mdi-chevron-right"></span></i>
        <a href="#" class="black-text">Liens partagés</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col l2 m1 no-mobile"></div>
    <div class="col l5 m7 s12">
      <ul class="collapsible">
        {% for i in range(len_links) %}
          <li>
            <div class="collapsible-header">
              <i class="material-icons">
                <span class="iconify" data-icon="mdi-earth"></span>
              </i>
              {{ links['entries'][i]['title'] }}
            </div>
            <div class="collapsible-body"><span>{{ clean_descr(links['entries'][i]['description']) }}
                <br><br><a class="waves-effect waves-light btn red darken-4" href="{{ links['entries'][i]['link'] }}"><i
                class="material-icons right">send</i>Lire l'article</a> <span
                class="grey-text"> Source : {{ get_hostname(links['entries'][i]['link']) }}</span>
              </span></div>
          </li>{% endfor %}
      </ul>
    </div>
    <div class="col l3 m3 s12">
      <ul class="collection z-depth-2">
        <li class="collection-item grey lighten-3">
          <h5>A propos</h5>
          <p>BecauseOfProg, c'est des développeurs rassemblés autour de projets communs tels que le blog.</p>
          <a class="waves-effect waves-light btn red darken-4" href="/page/about">
            <i class="material-icons right">
              <span class="iconify" data-icon="mdi-information-outline"></span>
            </i>
            En savoir plus
          </a>
        </li>
        <li class="collection-item grey lighten-4">
          <h5>Blogroll</h5>
        </li>
        {% for blog in blogroll %}
          <li class="collection-item grey lighten-3"><a href="{{blog.link}}" class="black-text">{{blog.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col l2 m1 no-mobile"></div>
  </div>
{% endblock %}