{% extends "index.html" %}
{% block title %}Liens - BecauseOfProg{% endblock %}
{% block description %}Nous partageons des liens vers des ressources, des blogs ou des articles
  intéressants{% endblock %}
{% block url %}https://becauseofprog.fr/page/links{% endblock %}
{% block image %}https://cdn.becauseofprog.fr/v2/sites/becauseofprog.fr/assets/logos/bop.min.svg{% endblock %}
{% block author %}Équipe BecauseOfProg{% endblock %}

{% block content %}
<div class="welcome parallax-container h250px">
  <div class="parallax primary"></div>
  <h4 class="header white-text">
    <i class="material-icons md-48">
      <span class="iconify" data-icon="mdi-link-variant"></span>
    </i>
    <br/>
    Liens - BecauseOfProg
  </h4>
</div>

<div class="container">
  {{ breadcrumb(['Liens partagés'])|safe }}
</div>

<div class=" container row">
  <div class="col m8 s12">
      {% for i in range(len_links) %}
      <div class="card shadow-elem hoverable">
        <div class="card-content">
          <span class="card-title primary--text">{{ links['entries'][i]['title'] }}</span>
          <p>Paru sur {{ get_hostname(links['entries'][i]['link']) }}</p>
        </div>
        <div class="card-action primary--text card-action-bop-links">
          <a href="{{ links['entries'][i]['link'] }}" class="primary--text">Lire</a>
        </div>
      </div>
      {% endfor %}
    </ul>
  </div>
  <div class="col m4 s12">
    <div class="card shadow-elem primary">
      <div class="card-content white-text">
        <span class="card-title">Les liens BecauseOfProg</span>
        <p>Nous partageons des liens vers des ressources, des blogs ou des articles intéressants, afin que vous puissiez vous aussi les découvrir.</p>
      </div>
      <div class="card-action white-text">
        <a href="https://twitter.com/BecauseOfProg/" class="white-text">Twitter</a>
        <a href="#" class="white-text">RSS</a>
      </div>
    </div>
    <div class="card shadow-elem">
      <div class="card-content">
        <span class="card-title">À propos</span>
        <p>BecauseOfProg, c'est des développeurs rassemblés autour de projets communs tels que le blog.</p>
      </div>
      <div class="card-action white-text card-action-bop-links">
        <a class="btn-flat waves-effect primary--text" href="/page/about">
          <i class="material-icons right">
            <span class="iconify" data-icon="mdi-information-outline"></span>
          </i>
          En savoir plus
        </a>
      </div>
    </div>
    <div class="card shadow-elem">
      <div class="card-content">
        <span class="card-title">Blogroll</span>
        <p>Les sites et les blogs que nous apprécions et que nous souhaitons vous partager</p>
      </div>
      <div class="card-action card-action-bop-links">
        {% for blog in blogroll %}
          <a href="{{blog.link}}" class="black-text chip shadow-elem">{{blog.name}}</a><br/>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col l2 m1 no-mobile"></div>
</div>
{% endblock %}