{% for i in range(len_l) %}
<li class="collection-item avatar">
  <div class="row">
    <div class="col s11">
      <span class="title links-embed-title">{{ links['entries'][i]['title'] }}</span>
      <p>{{ get_hostname(links['entries'][i]['link']) }}</p>
    </div>
    <div class="col s1">
      <a href="{{ links['entries'][i]['link'] }}" class="secondary-content red-text text-darken-3">
        <i class="material-icons">
          <span class="iconify" data-icon="mdi-send"></span>
        </i>
      </a>
    </div>
  </div>
</li>{% endfor %}