<div class="col s12 m4">
  <div class="card shadow-elem primary">
    <div class="card-content white-text">
      <span class="card-title">Les liens</span>
      <p>Les dernières actualités sélectionnées pour vous</p>
    </div>
    <div class="card-action white-text">
      <a href="#" class="white-text">Twitter</a>
      <a href="#" class="white-text">RSS</a>
    </div>
  </div>
</div>
{% for i in range(len_l) %}
<div class="col s12 m4">
  <div class="card shadow-elem hoverable">
    <div class="card-content card-content-bop-links">
      <span class="card-title primary--text">{{ links['entries'][i]['title'] }}</span>
      <p>Paru sur {{ get_hostname(links['entries'][i]['link']) }}</p>
    </div>
    <div class="card-action primary--text card-action-bop-links">
      <a href="{{ links['entries'][i]['link'] }}" class="primary--text">Lire</a>
      <a href="#" class="primary--text">J'aime</a>
    </div>
  </div>
</div>{% endfor %}