{% extends "index.html" %}
{% block title %}Projets - BecauseOfProg{% endblock %}
{% block description %}Les projets BecauseOfProg{% endblock %}
{% block url %}https://becauseofprog.fr/page/projects{% endblock %}
{% block image %}https://cdn.becauseofprog.fr/logos/bop-transparent.png{% endblock %}
{% block author %}Équipe BecauseOfProg{% endblock %}

{% block content %}
<div class="welcome parallax-container h250px">
  <div class="parallax">
    <img src="https://cdn.becauseofprog.fr/syst-images/bg.jpg" alt="Fond BecauseOfProg"/>
  </div>
  <h4 class="header white-text">
      <i class="material-icons md-48">
        <span class="iconify" data-icon="mdi-package-variant"></span>
      </i>
      <br/>
      Site - Projets - BecauseOfProg
    </h4>
</div>

<div class="row container">
  <p class="bop-breadcrumb">
    {{ breadcrumb(['Projets'])|safe }}
  </p>
  <p>Cette page sera complétée ultérieurement</p>
  <div class="collection">
    {% for project in projects %}
      <a href="{{project.link}}" class="collection-item primary--text">{{project.name}}</a>
    {% endfor %}
  </div>
</div>
{% endblock %}