{% extends "index.html" %}
{% block title %}Projets - BecauseOfProg{% endblock %}
{% block description %}Les projets BecauseOfProg{% endblock %}
{% block url %}https://becauseofprog.fr/page/projects{% endblock %}
{% block image %}https://cdn.becauseofprog.fr/v2/sites/becauseofprog.fr/assets/logos/bop.min.svg{% endblock %}
{% block author %}Équipe BecauseOfProg{% endblock %}

{% block content %}
<div class="welcome parallax-container h250px">
  <div class="parallax primary"></div>
  <h4 class="header white-text">
      <i class="material-icons md-48">
        <span class="iconify" data-icon="mdi-package-variant"></span>
      </i>
      <br/>
      Site - Projets - BecauseOfProg
    </h4>
</div>

<div class="row container">
  <p class="bop-breadcrumb">
    {{ breadcrumb(['Projets'])|safe }}
  </p>

  <div class="col s12 m4">
    <div class="card shadow-elem primary">
      <div class="card-content white-text card-content-bop-links">
        <span class="card-title">Les projets BecauseOfProg</span>
        <p>BecauseOfProg, c'est une équipe de développeurs créant divers projets que nous allons vous présenter sur cette page</p>
      </div>
      <div class="card-action white-text card-action-bop-links">
        <a href="/page/about" class="white-text">A propos</a>
        <a href="/" class="white-text">Blog</a>
      </div>
    </div>
  </div>
  {% for project in projects %}
  <div class="col s12 m4">
    <div class="card shadow-elem hoverable">
      <div class="card-content card-content-bop-links">
        <span class="card-title primary--text">{{project.name}}</span>
        <p>{{project.description}}</p>
      </div>
      <div class="card-action primary--text card-action-bop-links">
        <a href="{{project.link}}" class="primary--text">En savoir plus</a>
        <a href="#" class="primary--text">J'aime</a>
      </div>
    </div>
  </div>{% endfor %}
</div>

{% endblock %}