{% extends "index.html" %}
{% block title %}Recherche - BecauseOfProg{% endblock %}
{% block description %}Recherchez sur le blog BecauseOfProg{% endblock %}
{% block url %}https://becauseofprog.fr/page/search{% endblock %}
{% block image %}https://cdn.becauseofprog.fr/logos/bop-transparent.png{% endblock %}
{% block author %}Équipe BecauseOfProg{% endblock %}

{% block content %}
  <div class="welcome parallax-container">
    <div class="parallax">
      <img src="https://cdn.becauseofprog.fr/syst-images/bg.jpg" alt="Fond BecauseOfProg"/>
    </div>
    <img src="https://cdn.becauseofprog.fr/logos/bop-transparent.png" class="responsive-img bop-logo" alt="Logo BOP">
    <h2 class="header white-text">Rechercher sur le blog</h2>
    {% if error %}
      <div class="container row center"><p>{{ error }}</p></div>
    {% endif %}
    <nav class="container row center">
      <div class="nav-wrapper red darken-4">
        <form action="/page/search">
          <div class="input-field">
            <input id="search" type="search" name="s" value="{{ keyword }}" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
  </div>
{% endblock %}