.article-content
  margin: .5rem 0 1rem 0
  border: 1px solid #e0e0e0
  border-radius: 2px
  overflow: hidden
  position: relative
  padding: 0.5rem 2rem 1rem 2rem
  h4
    font-weight: 300

.markdown-body
  margin-top: 20px

.markdown-body ul
.markdown-body li
  list-style-type: unset !important
  
div.card.author-card
  div.card-image img
    width: 220px
    border-radius: 20px 0 0 20px
  div.card-stacked div.card-action
    padding: 5px
    a img
      width: 40px

@media screen and (max-width: 740px)
  div.card.author-card
    display: block
    div.card-image img
      min-width: 200%
      border-radius: 20px 20px 0 00px
