.card-action-bop-links
  background-color: unset!important

.card-content-bop-links
  min-height: 174.5px

.card
.shadow-elem
  border-radius: 20px
  transition: box-shadow .3s, transform .25s
  box-shadow: .25rem .25rem 1.25rem rgba(146,125,160,0.2)

.card.horizontal .card-image img
  max-width: initial

@media screen and (max-width: 600px)
  .card.horizontal
    display: block
    a div.card-image
      max-width: 100% !important
      img
        width: 100%
