body
  background-color: #fafafa

div.divider
  background-color: #9e9e9e !important

hr
  border: none
  height: 15px

ul li img.avatar-img
  width: 45px
  height: 45px
  position: relative
  top: 9px
  float: left

img.center
  display: block
  margin-left: auto
  margin-right: auto

#mapquest
  width: 100%
  height: 400px

.bop-breadcrumb
  display: inline-flex
  vertical-align: middle

.upper-content
  top: -200px
  position: relative
  margin-bottom: -200px

@media screen and (max-width: 800px)
  .upper-content
    float: inherit !important

@media screen and (max-width: 1300px)
  .main-title
    font-size: 30px

@media only screen and (min-width: 1000px)
  .upper-content-no-mobile
    top: -200px
    position: relative
    margin-bottom: -200px

.lower-title
  top: 90px
  position: relative

.icon-chip
  line-height: inherit

.bop-title
  margin-top: 0

.btn-share
  margin-bottom: 5px

.new-button
  margin-top: 20px

.no-border
  border: 0
