body
  background-color: #fafafa

div.divider {
  background-color: #9e9e9e !important
}

ul li img.avatar-img
  width: 45px
  height: 45px
  position: relative
  top: 9px
  float: left

.shadow
  text-shadow: 0 0 9px #555

.card, .shadow-elem
  border-radius: 20px
  transition: box-shadow .3s, transform .25s
  box-shadow: 0.25rem .25rem 1.25rem rgba(146,125,250,0.1)

.card.horizontal .card-image img
  max-width: initial

.border-radius-top
  border-radius: 20px 20px 0px 0px!important

.border-radius-left
  border-radius: 20px 0px 0px 20px!important

img.center
  display: block
  margin-left: auto
  margin-right: auto

#mapquest
  width: 100%
  height: 400px

.bop-breadcrumb
  display: inline-flex
  vertical-align: middle
  margin: 0

.upper-content
  top: -200px
  position: relative
  margin-bottom: -200px

@media screen and (max-width: 800px)
  .upper-content
    float: inherit !important

@media only screen and (min-width: 1000px)
  .upper-content-no-mobile
    top: -200px
    position: relative
    margin-bottom: -200px

.lower-title
  top: 90px
  position: relative

.icon-chip
  line-height: inherit

.bop-title
  margin-top: 0px

.btn-share
  margin-bottom: 5px

.carousel-bop-homepage-title
  margin-top: 64px;

.card-action-bop-links
  background-color: unset!important

.card-content-bop-links
  min-height: 174.5px

hr
  border: none
  height: 15px;