.nav-wrapper.semitransparent
  overflow: hidden

.topbar
  height: 8px
  /* the small orange top bar */

nav
  background-color: #fff

nav .brand-logo
  padding-left: 10px;

nav div.nav-content ul.tabs li.tab
  color: #9e9e9e !important

nav div.nav-content ul.tabs li.tab.active
  color: #fff !important

nav div.nav-content ul.tabs .indicator
  color: #fff !important

ul.blog-categories li div.collapsible-body
  display: flex
  flex-wrap: wrap
  justify-content: center

ul.blog-categories li div.collapsible-body span
  max-width: 30%
  min-width: 30%

ul.blog-categories li div.collapsible-header
  display: flex
  justify-content: center

.slider .indicators .indicator-item.active
  background-color: primary

@media screen and (max-width: 800px)
  ul.blog-categories li div.collapsible-body span
    max-width: 50%
    min-width: 50%

@media screen and (max-width: 500px)
  ul.blog-categories li div.collapsible-body span
    max-width: 100%
    min-width: 100%

@media screen and (min-width: 600px)
  nav div.nav-wrapper a span img
    width: 50px
    height: 50px
    position: relative
    top: 8px
    left: 2px
    float: left

@media screen and (max-width: 600px)
  nav div.nav-wrapper a span img
    width: 40px
    height: 40px
    position: relative
    top: 8px
    left: 2px
    float: left
