// the small orange top bar
.topbar
  height: 8px

nav
  background-color: #fff
  .brand-logo
    padding-left: 10px

.nav-wrapper.semitransparent
  overflow: hidden

.slider .indicators .indicator-item.active
  background-color: primary

@media screen and (min-width: 600px)
  nav div.nav-wrapper a span img
    width: 50px
    height: 50px
    position: relative
    top: 8px
    left: 2px
    float: left
