{% include 'components/head.html' %}
    <title>Projets - BecauseOfProg</title>
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://becauseofprog.fr/page/projects">
    <meta property="og:title" content="Projets - BecauseOfProg">
    <meta property="og:description" content="Nos liens!">
    <meta property="og:image" content="https://cdn.becauseofprog.fr/logos/bop-transparent.png">
    <meta name="author" content="Team BOP">
  </head>
  <body>
    {% include 'components/header.html' %}
    <div class="welcome parallax-container">
			<div class="parallax"><img src="https://cdn.becauseofprog.fr/syst-images/bg.jpg"></div>
			<h2 class="header white-text lower-title">Titre de l'article incroyable</h2>
			<h5 class="subtitle grey-text lower-title">Publié par <b></b>Gildas GH</b> le 30 décembre 2018</h5>
    </div>
    <div class="row">
      <div class="col l1 no-mobile"></div>
      <div class="col l7 upper-content">
        <div class="section white z-depth-2 article-content">
          <h4>Ceci est le sous-titre de l'article. Il est court (mais pas trop) et représente une accroche pour la suite du texte. Encore quelques mots : voilà.</h4>
          <hr>
<p>Ici est contenu l'article en lui-même: les paragraphes ainsi que les images et tous les éléments ajoutés en HTML ou en Markdown pour les articles les plus récents</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue mi eget volutpat egestas. Praesent tincidunt vulputate nibh in accumsan. Fusce nec massa eu nunc tristique tempor. In in ligula sit amet dui iaculis maximus. Integer volutpat dui ac augue interdum tristique. Morbi rutrum, neque eu fermentum blandit, neque ipsum auctor erat, nec luctus est mi ac sapien. Mauris quis ex efficitur, finibus nisl eget, molestie libero. Integer dignissim tortor sit amet velit cursus, non imperdiet nibh tincidunt. Mauris ullamcorper tincidunt ex vitae placerat. Phasellus mattis semper tempus. Vivamus scelerisque gravida enim, eget molestie erat. Mauris pellentesque, diam at sollicitudin blandit, libero velit finibus turpis, vel tincidunt mi nibh eu velit. Sed at nisi vitae sapien mattis fermentum vitae sit amet libero. Donec vel ex quis mauris tempor bibendum non vel justo. Nullam molestie, justo ac lacinia convallis, sem magna maximus metus, non egestas leo velit nec quam.</p>
<p>Donec ac dui ex. Proin volutpat ipsum sit amet vestibulum ornare. Mauris laoreet sit amet dui at tincidunt. Mauris et accumsan mi. Vivamus imperdiet dolor ipsum, quis lobortis mauris loboris et. Etiam vehicula molestie interdum. Quisque vel justo consequat risus aliquet laoreet feugiat efficitur tortor. Nam vel arcu enim. Etiam eu blandit arcu.</p>
<p>Sed molestie ultricies pretium. Vestibulum venenatis dolor justo, at egestas nisi pulvinar non. Vestibulum sit amet gravida tellus, eget consectetur purus. Sed elit lectus, tempor at diam ut, tincidunt facilisis lacus. Praesent sit amet sem libero. Duis ut urna at purus fringilla varius. Fusce ut faucibus enim, a varius erat.</p>
<p>Fusce sagittis sem et nisi lacinia, in eleifend lectus hendrerit. Phasellus fermentum dictum velit in ornare. Cras rutrum dapibus interdum. Aliquam tincidunt, lacus sed pharetra venenatis, lorem sem tincidunt nulla, eget facilisis eros turpis a mauris. Cras arcu nibh, ornare dignissim dolor ut, faucibus laoreet mauris. Aenean sapien quam, accumsan at pharetra quis, varius accumsan lectus. Ut et est luctus, tempor justo id, pellentesque enim. Mauris mi ex, efficitur eget viverra ut, ultrices quis elit. Morbi eget rhoncus eros. Praesent sollicitudin dapibus ante ut tincidunt. Nam vehicula massa eget volutpat volutpat. Etiam posuere pellentesque ligula ut feugiat.</p>
<p>Donec egestas posuere interdum. Nam molestie consequat pellentesque. Curabitur turpis nisi, luctus eu cursus at, dignissim vitae velit. Donec at dui felis. Ut fermentum ut neque non pulvinar. Suspendisse et velit ut nisl dictum maximus at interdum elit. Etiam id erat posuere, faucibus turpis vitae, interdum elit. </p>
          </p>
          <br><hr>
          <div class="tx-center">
            <h5>Partager sur</h5>
            <a class="waves-effect waves-light btn blue lighten-2" href="/">Twitter</a>
            <a class="waves-effect waves-light btn blue darken-4" href="/">Facebook</a>
            <a class="waves-effect waves-light btn red darken-1" href="/">Google+</a>
            <a class="waves-effect waves-light btn grey darken-3" href="/">Diaspora</a>
            <a class="waves-effect waves-light btn blue darken-2" href="/about">Mastodon</a>
            <a class="waves-effect waves-light btn red darken-4" href="/about">Mail</a>
            <br>
            <h5>Publié dans</h5>
            <a class="black-text chip" href="/categorie/tutos"><i class="material-icons left">code</i>Tutoriels</a>
            <a class="black-text chip" href="/categorie/securite"><i class="material-icons left">https</i>Sécurité</a>
            <a class="black-text chip" href="/categorie/web"><i class="material-icons left">public</i>Web</a>
          </div>
        </div>
      </div>
      <style>
        .article-content {
          margin: .5rem 0 1rem 0;
          border: 1px solid #e0e0e0;
          border-radius: 2px;
          overflow: hidden;
          position: relative;
          padding: 0.5rem 2rem 1rem 2rem;
        }
        .article-content h4 {
          font-weight: 300;
        }
        .upper-content {
          top: -200px;
          position: relative;
          margin-bottom: -200px;
        }
        .lower-title {
          top: 90px;
          position: relative;
        }
        .h300px {height: 300px;}
        .tx-center {
          text-align: center;
        }
      </style>
      <div class="col l3 upper-content">
        <ul class="collection z-depth-2">
          <li class="collection-item grey lighten-4 h300px">Publicité</li>
          <li class="collection-item grey lighten-3">
            <h5>Partager</h5>
            <div class="row">
              <div class="col s3"><img src="https://cdn.becauseofprog.fr/syst-icons/twitter.png" alt="Logo Twitter" class="circle responsive-img"></div>
              <div class="col s3"><img src="https://cdn.becauseofprog.fr/syst-icons/discord.png" alt="Logo Discord" class="circle responsive-img"></div>
              <div class="col s3"><img src="https://cdn.becauseofprog.fr/syst-icons/arobase.png" alt="Arobase-email" class="circle responsive-img"></div>
              <div class="col s3"><img src="https://cdn.becauseofprog.fr/syst-icons/github.png" alt="Logo Github" class="circle responsive-img"></div>
            </div>
          </li>
          <li class="collection-item grey lighten-3">
            <h5>A propos</h5>
            <p>BecauseOfProg, c'est 4 développeurs rassemblés autour de projets communs : un blog, et des projets. </p>
            <a class="waves-effect waves-light btn red darken-4" href="/about"><i class="material-icons right">info</i>Plus</a>
          </li>
          <li class="collection-item grey lighten-4">
            <h5>Catégories</h5>
            <a class="black-text chip" href="/categorie/tutos"><i class="material-icons left">code</i>Tutoriels</a>
            <a class="black-text chip" href="/categorie/securite"><i class="material-icons left">https</i>Sécurité</a>
            <a class="black-text chip" href="/categorie/web"><i class="material-icons left">public</i>Web</a>
            <a class="black-text chip" href="/categorie/hardware"><i class="material-icons left">sim_card</i>Hardware</a>
            <a class="black-text chip" href="/categorie/programmation"><i class="material-icons left">code</i>Programmation</a>
            <a class="black-text chip" href="/categorie/android"><i class="material-icons left">android</i>Android</a>
            <a class="black-text chip" href="/categorie/linux"><i class="material-icons left">developer_board</i>Linux</a>
            <a class="black-text chip" href="/categorie/windows"><i class="material-icons left">dashboard</i>Windows</a>
          </li>
          <li class="collection-item grey lighten-3">
            <h5>A ne pas manquer</h5>
            <p>Titre de l'article sélectionné</p>
            <a class="waves-effect waves-light btn red darken-4" href="/about"><i class="material-icons right">info</i>Lire</a>
          </li>
          <li class="collection-item grey lighten-4 h170px">
            <h5>Plus</h5>
            <ul class="col m6">
              <li><a class="grey-text text-darken-3" href="/page/projects">Outils et projets</a></li>
              <li><a class="grey-text text-darken-3" href="/page/blog">Blog</a></li>
              <li><a class="grey-text text-darken-3" href="/page/app">Application</a></li>
              <li><a class="grey-text text-darken-3" href="/page/about">About</a></li>
            </ul>
            <ul class="col m6">
              <li><a class="grey-text text-darken-3" href="https://discord.becauseofprog.fr">Discord</a></li>
              <li><a class="grey-text text-darken-3" href="https://twitter.com/BecauseOfProg">Twitter</a></li>
              <li><a class="grey-text text-darken-3" href="https://mstdn.io/@bop">Mastodon</a></li>
              <li><a class="grey-text text-darken-3" href="https://instagram.com/becauseofprog/">Instagram</a></li>
              <li><script type=text/javascript>
                var name = "contact";
                var domain = "becauseofprog.fr";
                document.write('<a class="grey-text text-darken-3" href="mailto:' + name + '@' + domain + '">') ;
                document.write('Email</a>') ;
              </script></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col l1 no-mobile"></div>
    </div>
    <div class="section center grey lighten-2">
      <div class="row container center">
        <div class="col s12">
          <div class="card author-card horizontal">
            <div class="card-image">
              <img src="https://cdn.becauseofprog.fr/pictures/4.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="card-title">Gildas GH</span>
                <p><i>"Lycéen, lyonnais, j'aime la programmation et le design."</i></p>
              </div>
              <div class="card-action">
                <a href="https://becauseofprog.fr/members?view=4">
                  <img src="https://cdn.becauseofprog.fr/logos/bop-transparent.png">
                </a>
                <a href="https://becauseofprog.fr">
                  <img src="https://cdn.becauseofprog.fr/syst-icons/arobase.png">
                </a>
                <a href="https://twitter.com/Gildas_FR">
                  <img src="https://cdn.becauseofprog.fr/syst-icons/twitter.png">
                </a>
                <a href="https://github.com/gildas-gh">
                  <img src="https://cdn.becauseofprog.fr/syst-icons/github.png">
                </a>
              </div>
            </div>
          </div>
        </div>       
      </div>
      
      <div class="col l10 offset-l1">
        <h4>Il n'y a pas de commentaire pour le moment.</h4>
      </div>
    </div>
{% include 'components/footer.html' %}