<!DOCTYPE html>
<html>
  <head>
    <title>Erreur - BecauseOfProg</title>
  </head>
  <body style="background:#ccc">
    <div style="position:absolute;left: 50%;top: 50%;width: 600px;height: 300px;margin-left: -300px;margin-top: -150px;text-align:center;">
      <h1 style="font-family:sans-serif;font-weight: 300;font-size:60px;color:#B71C1C">
        {{ erreur }}
      </h1>
      <p style="font-family:sans-serif;font-weight: 300;font-size:20px;">N'hésite pas a nous contacter si tu pense que c'est un bug!</p>
    </div>
  </body>
</html>