<footer class="page-footer red darken-4">
    <div class="container">
      <div class="row">
        <div class="col l3 m6 s12">
          <h5 class="white-text">Because Of Prog</h5>
          <p class="grey-text text-lighten-4">Retrouvez sur ce blog des articles originaux autour des nouvelles technologies, de la programmation, ainsi que nos principaux projets.</p>
        </div>
        <div class="col l3 offset-l2 m6 s12">
          <h5 class="white-text">Plan du site</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/page/links">Nos liens</a></li>
            <li><a class="grey-text text-lighten-3" href="/page/projects">Nos projets</a></li>
            <li><a class="grey-text text-lighten-3" href="/blog">Derniers articles</a></li>
            <li><a class="grey-text text-lighten-3" href="/page/app">Application</a></li>
            <li><a class="grey-text text-lighten-3" href="/page/about">A propos</a></li>
          </ul>
        </div>
        <div class="col l3 offset-l1 m6 s12">
          <h5 class="white-text">Discutons !</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://discord.becauseofprog.fr">Discord</a></li>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/BecauseOfProg">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="https://mstdn.io/@bop">Mastodon</a></li>
            <li><a class="grey-text text-lighten-3" href="https://instagram.com/becauseofprog/">Instagram</a></li>
            <li><script type=text/javascript>
              var name = "contact";
              var domain = "becauseofprog.fr";
              document.write('<a class="grey-text text-lighten-3" href="mailto:' + name + '@' + domain + '">') ;
              document.write('Email</a>') ;
            </script></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright red darken-4">
      <div class="container">
      <a class="grey-text text-lighten-4" href="/page/about#cgu">Conditions d'utilisation</a>
      <span class="right">Créé par Gildas GH, Exybore &amp; Whaxion</span>
      </div>
    </div>
  </footer>
  <!--<div class="fixed-action-btn">
    <a class="btn-floating btn-large red darken-4">
      <i class="large material-icons">share</i>
    </a>
    <ul>
      <li>
        <a class="btn-floating yellow darken-1" href="mailto:?subject=Le%20blog%20BecauseOfProg?body=Je%20vous%20invite%20à%20visiter%20le%20blog%20BecauseOfProg:%20des%20actualités%20et%20découvertes%20publiées%20par%20des%20passionnés%20de%20développement.%20https://becauseofprog.fr" data-tooltip="Partager par mail">
          <i class="material-icons">mail</i>
        </a>
      </li>
      <li><a class="btn-floating green" href="https://twitter.com/intent/tweet?url=https://becauseofprog.fr&text=Visitez+le+blog+Becauseofprog" data-tooltip="Partager via Twitter"><i class="material-icons">chat_bubble</i></a></li>
      <li><a class="btn-floating blue" onclick="CopyLink();"><i class="material-icons">content_copy</i></a></li>
    </ul>
  </div>-->

<script src="https://cdn.becauseofprog.fr/static-v3/materialize.min.js"></script>
<script src="https://cdn.becauseofprog.fr/static-v3/bop.js"></script>
</body>
</html>