<noscript><img src="//analytics.becauseofprog.fr/piwik.php?idsite=4&rec=1" style="border:0;" alt="" /></noscript>
<!-- NAVBAR SUR MOBILE -->
<ul id="mobile-demo" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="https://cdn.becauseofprog.fr/syst-images/bg.jpg" alt="Background">
      </div>
      <a href="#"><img class="circle" src="https://cdn.becauseofprog.fr/logos/bop-transparent.png" alt="Logo BOP"></a>
      <a href="/"><span class="white-text name">BecauseOfProg</span></a> 
      <a href="/"><span class="white-text email">Le site</span></a> 
    </div>
  </li>
  <li><a href="/categorie/software"><i class="material-icons left">web</i>Software</a></li>
  <li><a href="/type/tutorial"><i class="material-icons left">code</i>Tutoriels</a></li>
  <li><a href="/categorie/security"><i class="material-icons left">https</i>Sécurité</a></li>
  <li><a href="/categorie/web"><i class="material-icons left">public</i>Web</a></li>
  <li><a href="/categorie/hardware"><i class="material-icons left">sim_card</i>Hardware</a></li>
  <li><a href="/categorie/programming"><i class="material-icons left">code</i>Programmation</a></li>
  <li><a href="/categorie/android"><i class="material-icons left">android</i>Android</a></li>
  <li><a href="/categorie/linux"><i class="material-icons left">developer_board</i>Linux</a></li>
  <li><a href="/categorie/windows"><i class="material-icons left">dashboard</i>Windows</a></li>
  <li><div class="divider"></div></li>
  <li><a href="/page/about"><i class="material-icons left">info</i>A propos</a></li>
  <li><a href="/blog"><i class="material-icons left">description</i>Derniers articles</a></li>
  <li><a href="/page/projects"><i class="material-icons left">library_books</i>Projets</a></li>
  <li><a href="/page/links"><i class="material-icons left">link</i>Liens</a></li>
  <li><a href="/page/search"><i class="material-icons left">search</i>Rechercher</a></li>
  <li><a class="waves-effect waves-light btn red darken-3" href="/login">Connexion</a></li>
  <li><a class="waves-effect" data-target="mobile-demo" class="sidenav-trigger" href="#"><i class="material-icons left">close</i>Fermer le menu</a></li>
</ul>
<!-- NAVBAR SUR PC -->

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper red darken-4">
        <a href="/" class="logo brand-logo">
            <span class="no-mobile">
              <img src="https://cdn.becauseofprog.fr/logos/bop-transparent.png" alt="Logo BOP">
            </span>
            &nbsp;BecauseOfProg
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/blog"><i class="material-icons left">description</i>Derniers articles</a></li>
          <li><a href="/page/projects"><i class="material-icons left">library_books</i>Projets</a></li>
          <li><a href="/page/links"><i class="material-icons left">link</i>Liens</a></li>
          <li><a href="/page/search"><i class="material-icons left">search</i></a></li>
          <li><a class="waves-effect waves-light btn red darken-2" href="/account">Mon compte</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="navbar-fixed no-mobile">
      <nav class="semitransparent">
        <div class="nav-wrapper semitransparent">
          <ul class="center hide-on-med-and-down">
            <li><a href="/categorie/software"><i class="material-icons left">web</i>Software</a></li>
            <li><a href="/type/tutorial"><i class="material-icons left">code</i>Tutoriels</a></li>
            <li><a href="/categorie/security"><i class="material-icons left">https</i>Sécurité</a></li>
            <li><a href="/categorie/web"><i class="material-icons left">public</i>Web</a></li>
            <li><a href="/categorie/hardware"><i class="material-icons left">sim_card</i>Hardware</a></li>
            <li><a href="/categorie/programming"><i class="material-icons left">code</i>Programmation</a></li>
            <li><a href="/categorie/android"><i class="material-icons left">android</i>Android</a></li>
            <li><a href="/categorie/linux"><i class="material-icons left">developer_board</i>Linux</a></li>
            <li><a href="/categorie/windows"><i class="material-icons left">dashboard</i>Windows</a></li>
          </ul>
        </div>
      </nav>
  </div>