<style>
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
</style>

<p>La BecauseOfProg s'engage à ce que la collecte et le traitement des données, effectuées depuis le site becauseofprog.fr, soient conformes au règlement général sur la protection des données (RGPD) et à la loi Informatique et Libertés.</p>

<h5>Les données collectées</h5>
<p>Les données personnelles que nous collectons sont utilisées à deux fins :</p>
<ul>
    <li>Le compte utilisateur que vous pouvez optionnellement créer vous permet d'accéder à des fonctionnalités réservées aux membres, comme, par exemple les commentaires d'articles. Les données collectées sont votre pseudonyme, votre adresse courriel, la date de création de votre compte, votre mot de passe chiffré, et toutes les informations que vous pouvez donner volontairement après la création du compte: commmentaires, etc. Ces données peuvent-être accessibles à tous les visiteurs du site, comme le pseudonyme. Les données confidentielles (adresse courriel, mot de passe) ne sont partagées à aucun tiers et sont stockées de manière sécurisée avec de bonnes pratiques de sécurité.</li>
    <li>Notre outil d'analyse de traffic (Matomo/Piwik) collectes des données de connexion anonymisées. Cet outil respecte les recommendations de la CNIL.</li>
</ul>

<p>Chacun de nos services limite la collecte et le traitement des données personnelles au strict minimum, et les données sont traitées selon des protocoles sécurisés et permettent à la CBecauseOfProg de gérer les demandes reçues sur son site.</p>
<p>Pour toute information ou exercice de vos droits Informatique et Libertés sur les traitements de données personnelles gérés par la BecauseOfprog, vous pouvez contacter notre délégué à la protection des données (DPO) :
    <br/>
    Gildas GH – <a href="/cdn-cgi/l/email-protection#0e6f6a6367604e6c6b6d6f7b7d6b61687e7c616920687c">admin@becauseofprog.fr</a>
</p>
<h5>A propos des cookies</h5>
<p>Nous utilisons différents cookies sur le site pour améliorer l’interactivité du site et  nos services.
    <br/>
    <b>Qu'est-ce qu'un "cookie"?</b>
    Un "cookie" est un fichier de taille limitée, généralement constitué de lettres et de chiffres, envoyé par le serveur internet au fichier cookie du navigateur situé sur le disque dur de votre ordinateur.<br/>
    Pour en savoir plus et comprendre les moyens de s'y opposer, visitez le <a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" target="_blank">site de la CNIL</a>.
</p>
<h5>Les cookies utilisés par la BecauseOfProg</h5>
<ul>
    <li><b>Mesure d'audience</b><br/>
        En vue d’adapter le site aux demandes de ses visiteurs, nous mesurons le nombre de visites, le nombre de pages vues ainsi que l'activité des visiteurs sur le site et leur fréquence de retour. Matomo (anciennement Piwik), l'outil de statistiques utilisé par la BecauseOfProg, génère les cookies suivants :<br/>
        <table>
            <tr>
                <th>Nom du cookie</th>
                <th>Finalité</th>
                <th>Durée de conservation</th>
            </tr>
            <tr>
                <td>_pk_session</td>
                <td>Statistiques Matomo</td>
                <td>30 min</td>
            </tr>
            <tr>
                <td>_pk_id</td>
                <td>Statistiques Matomo</td>
                <td>13 mois</td>
            </tr>
            <tr>
                <td>piwik_ignore</td>
                <td>Cookie permettant d’indiquer à Matomo que vous vous opposez au suivi statistique</td>
                <td>13 mois</td>
            </tr>
        </table><br/>
        Nous collectons également votre adresse IP, afin de déterminer la ville depuis laquelle vous vous connectez. Celle-ci est immédiatement anonymisée après utilisation. La BecauseOfprog ne peut donc en aucun cas remonter par ce biais à une personne physique.<br/>
        Les données personnelles recueillies (identifiant du cookie) sont conservées par la CNIL pour une durée de 13 mois . Elles ne sont pas cédées à des tiers ni utilisées à d'autres fins.<br/>
        Vous pouvez choisir de refuser les cookies et l’analyse statistique de vos données de navigation. <br/>
        <iframe style="border: 0; height: 200px; width: 600px;" src="https://analytics.becauseofprog.fr/index.php?module=CoreAdminHome&action=optOut&language=fr&backgroundColor=&fontColor=&fontSize=&fontFamily=%22Roboto%22%2C%20sans-serif"></iframe><br/>
    </li>
    <li><b>Connexion au site</b><br/>
        Pour permettre de vous identifier à la BecauseOfProg, le cookie "PHPSESSID" est installé sur votre ordinateur. Il permet de gérer les autorisations d'accès aux différentes pages du site.<br/>
        Ce cookie est nécéssaire pour vous connecter à votre compte et disposer de tous les avantages de ce compte.
    </li>
</ul>
<h5>Durée de conservation des données</h5>
<p>Conformément aux lois en vigueur, vous disposez d'un droit de rétractation pour faire supprimer vos données personnelles.</p>
<table>
    <tr>
        <th>Donnée</th>
        <th>Durée de conservation</th>
    </tr>
    <tr>
        <td>Historique de connexion non anonymisé (logs)</td>
        <td>1 an. (loi française. Ces données ne sont pas exploitées).</td>
    </tr>
    <tr>
        <td>Analyse du traffic</td>
        <td>13 mois maximum.</td>
    </tr>
    <tr>
        <td>Compte utilisateur et données associées</td>
        <td>Indéfiniment, sauf utilisation du droit de rétractation.</td>
    </tr>
</table>
