{% extends "index.html" %}
{% block title %}{{ article.title }} - BecauseOfProg{% endblock %}
{% block description %}{{ article.description }}{% endblock %}
{% block url %}https://becauseofprog.fr/article/{{ article.url }}{% endblock %}
{% block image %}{{ article.banner }}{% endblock %}
{% block author %}{{ author.displayname }}{% endblock %}

{% block head %}
  {{ super() }}
  <link type="text/css" rel="stylesheet" href="https://cdn.becauseofprog.fr/static-v3/github-markdown.css"/>
{% endblock %}

{% block content %}
  <div class="welcome parallax-container darker-bg">
    <div class="parallax">
      <img src="{{ article.banner }}" alt="{{ article.title }}"/>
    </div>
    <h2 class="header white-text lower-title">{{ article.title }}</h2>
    <h5 class="subtitle grey-text lower-title">Publié par <b>{{ author.displayname }}</b>
      le {{ datetime.datetime.utcfromtimestamp(article.timestamp).strftime('%d/%m/%Y à %H:%M') }}</h5>
  </div>
  <div class="row">
    <div class="col l1 no-mobile"></div>
    <div class="col l7 upper-content">
      <div class="section white z-depth-2 article-content">
        <h5>{{ article.description }}</h5>
        <hr/>
        {% if htmlarticle %}
          <div class="markdown-body">{{ htmlarticle | safe }}</div>
        {% else %}
          <div class="markdown-body">{{ article.content | safe }}</div>
        {% endif %}
        <br/>
        <hr/>
        <div class="tx-center">
          <h5>Partager l'article sur</h5>
          <a class="waves-effect waves-light btn blue lighten-2 btn-share"
             href="https://twitter.com/intent/tweet?url=https://becauseofprog.fr/article/{{ article.url }}&text={{ article.title }}">Twitter</a>
          <a class="waves-effect waves-light btn blue darken-4 btn-share"
             href="https://www.facebook.com/sharer/sharer.php?u=https://becauseofprog.fr/article/{{ article.url }}"
             target="_blank">Facebook</a>
          <a class="waves-effect waves-light btn grey darken-3 btn-share"
             href="https://share.diasporafoundation.org/?title={{ article.title }}&url=https://becauseofprog.fr/article/{{ article.url }}"
             target="_blank">Diaspora</a>
          <a class="waves-effect waves-light btn blue darken-2 btn-share"
             href="web+mastodon://share?text={{ article.title }}%20-%20https://becauseofprog.fr/article/{{ article.url }}">Mastodon</a>
          <a class="waves-effect waves-light btn red darken-4 btn-share"
             href="mailto:?subject={{ article.title }}&body=https://becauseofprog.fr/article/{{ article.url }}">Mail</a>
          <br>
          <h5>Publié dans</h5>
          <a class="black-text chip" href="/categorie/{{ article.category }}">{{ categories[article.category].name }}</a>
          <a class="black-text chip" href="/type/{{ article.type }}">{{ types[article.type].name }}</a>
          {% for label in article.labels %}
            <a class="black-text chip">{{ label }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col l3 upper-content-no-mobile">
      <ul class="collection z-depth-2">
        <li class="collection-item h300px ads" style="display: none"></li>
        <li class="collection-item">
          <h5>Nous suivre</h5>
          <div class="row">
            <div class="col s3"><a href="https://twitter.com/BecauseOfProg"><img
              src="https://cdn.becauseofprog.fr/static-v3/twitter-300.png" alt="Logo Twitter"
              class="circle responsive-img"></a></div>
            <div class="col s3"><a href="http://discord.becauseofprog.fr"><img
              src="https://cdn.becauseofprog.fr/static-v3/discord-300.png" alt="Logo Discord"
              class="circle responsive-img"></a></div>
            <div class="col s3"><a href="mailto:contact@becauseofprog.fr"><img
              src="https://cdn.becauseofprog.fr/static-v3/mail-300.png" alt="Arobase-email"
              class="circle responsive-img"></a></div>
            <div class="col s3"><a href="https://github.com/BecauseOfProg"><img
              src="https://cdn.becauseofprog.fr/static-v3/github-300.png" alt="Logo Github"
              class="circle responsive-img"></a></div>
          </div>
        </li>
        <li class="collection-item">
          <h5>A propos</h5>
          <p>BecauseOfProg, c'est des développeurs rassemblés autour de projets communs tels que le blog.</p>
          <a class="waves-effect waves-light btn red darken-4" href="/page/about"><i
            class="material-icons right">info</i>En savoir plus</a>
        </li>
        <li class="collection-item">
          <h5>Catégories</h5>
          {% for url, category in categories.items() %}
            <a class="black-text chip" href="/categorie/{{url}}">
              <i class="material-icons left icon-chip">{{category.icon}}</i>
              {{category.name}}
            </a>
          {% endfor %}
          {% for url, type in types.items() %}
            <a class="black-text chip" href="/type/{{url}}">
              <i class="material-icons left icon-chip">{{type.icon}}</i>
              {{type.name}}
            </a>
          {% endfor %}
        </li>
        <!--<li class="collection-item">
          <h5>Sur le devblog...</h5>
          <p>{{ devblog.title }}</p>
          <a class="waves-effect waves-light btn red darken-4"
             href="https://becauseofprog.fr/news/{{ devblog.url }}"><i
            class="material-icons right">info</i>Lire</a>
        </li>-->
      </ul>
    </div>
    <div class="col l1 no-mobile"></div>
  </div>
  <div class="section center grey lighten-2">
    <div class="row container center">
      <div class="col s12">
        <div class="card author-card horizontal">
          <div class="card-image">
            <img src="{{ author.avatar }}" alt="Photo de profil de {{ author.displayname }}"/>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <span class="card-title">{{ author.displayname }}</span>
              <p><i>{{ author.biography }}</i></p>
            </div>
            <div class="card-action">
              <a href="https://becauseofprog.fr/user/{{ article.author.username }}">
                <img src="https://cdn.becauseofprog.fr/logos/bop-transparent.png" alt="Logo BecauseOfProg"/>
              </a>
              <!--{% if author.socials != "Non renseigné" %}<a href="https://twitter.com/{{ author.socials }}">
                  <img src="https://cdn.becauseofprog.fr/syst-icons/twitter.png">
                </a>{% endif %}
                {% if author.socials != "Non renseigné"%}<a href="https://github.com/{{ author.socials }}">
                  <img src="https://cdn.becauseofprog.fr/syst-icons/github.png">
                </a>{% endif %}-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col l10 offset-l1">
      <h4>La rubrique commentaires est en travaux</h4>
    </div>
  </div>
{% endblock %}