{% extends "index.html" %}
{% block title %}{{ article.title }} - BecauseOfProg{% endblock %}
{% block description %}{{ article.description }}{% endblock %}
{% block url %}https://becauseofprog.fr/article/{{ article.url }}{% endblock %}
{% block image %}{{ article.banner }}{% endblock %}
{% block author %}{{ author.displayname }}{% endblock %}

{% block head %}
  {{ super() }}
  <link type="text/css" rel="stylesheet" href="https://cdn.becauseofprog.fr/static-v3/github-markdown.css"/>
{% endblock %}

{% block content %}
  <div class="welcome parallax-container darker-bg">
    <div class="parallax">
      <img src="{{ article.banner }}" alt="{{ article.title }}"/>
    </div>
    <h2 class="header white-text lower-title">{{ article.title }}</h2>
    <h5 class="subtitle grey-text lower-title">Publié par <b>{{ author.displayname }}</b>
      le {{ datetime.datetime.utcfromtimestamp(article.timestamp).strftime('%d/%m/%Y à %H:%M') }}</h5>
  </div>
  <div class="row">
    <div class="col l1 no-mobile"></div>
    <div class="col l7 upper-content">
      <div class="card section article-content">
        <h5>{{ article.description }}</h5>
        <hr/>
        {% if htmlarticle %}
          <div class="markdown-body">{{ htmlarticle | safe }}</div>
        {% else %}
          <div class="markdown-body">{{ article.content | safe }}</div>
        {% endif %}
        <br/>
        <hr/>
        <div class="tx-center">
          <h5>Partager l'article sur</h5>
          <a
            class="waves-effect waves-light btn blue lighten-2 btn-share"
            href="https://twitter.com/intent/tweet?url=https://becauseofprog.fr/article/{{ article.url }}&text={{ article.title }}">
            <i class="material-icons left">
              <span class="iconify" data-icon="mdi-twitter"></span>
            </i>
            Twitter
          </a>
          <a
            class="waves-effect waves-light btn blue darken-4 btn-share"
            href="https://www.facebook.com/sharer/sharer.php?u=https://becauseofprog.fr/article/{{ article.url }}"
            target="_blank">
            <i class="material-icons left">
              <span class="iconify" data-icon="mdi-facebook"></span>
            </i>
             Facebook
          </a>
          <a
            class="waves-effect waves-light btn grey darken-3 btn-share"
            href="https://share.diasporafoundation.org/?title={{ article.title }}&url=https://becauseofprog.fr/article/{{ article.url }}"
            target="_blank">
            <i class="material-icons left">
              <span class="iconify" data-icon="mdi-asterisk"></span>
            </i>
             Diaspora
          </a>
          <a
            class="waves-effect waves-light btn blue darken-2 btn-share"
            href="web+mastodon://share?text={{ article.title }}%20-%20https://becauseofprog.fr/article/{{ article.url }}">
            <i class="material-icons left">
              <span class="iconify" data-icon="mdi-mastodon"></span>
            </i>
             Mastodon
          </a>
          <a
            class="waves-effect waves-light btn primary btn-share"
            href="mailto:?subject={{ article.title }}&body=https://becauseofprog.fr/article/{{ article.url }}">
            <i class="material-icons left">
              <span class="iconify" data-icon="mdi-email"></span>
            </i>
             Mail
          </a>
          <br>
          <h5>Publié dans</h5>
          <a class="black-text chip" href="/categorie/{{ article.category }}">{{ categories[article.category].name }}</a>
          <a class="black-text chip" href="/type/{{ article.type }}">{{ types[article.type].name }}</a>
          {% for label in article.labels %}
            <a class="black-text chip">{{ label }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col l3 upper-content-no-mobile">
      <div class="card">
        <div class="card-content">
          <h5 class="primary--text">Nos réseaux sociaux</h5>
          <p>Nous postons régulièrement des nouvelles, des tips et des astuces. Suivez-nous! </p>
          <br/>
          <a class="blue-text text-lighten-2" href="https://twitter.com/BecauseOfProg">
            <i class="material-icons large">
              <span class="iconify" data-icon="mdi-twitter" data-inline="false" data-width="40" data-height="40"></span>
            </i>
          </a>
          <a class="blue-text text-darken-1" href="https://discord.becauseofprog.fr">
            <i class="material-icons large">
              <span class="iconify" data-icon="mdi-discord" data-inline="false" data-width="40" data-height="40"></span>
            </i>
          </a>
          <a class="teal-text" href="https://mstdn.io/@bop">
            <i class="material-icons large">
              <span class="iconify" data-icon="mdi-mastodon" data-inline="false" data-width="40" data-height="40"></span>
            </i>
          </a>
          <a class="black-text" href="https://github.com/BecauseOfProg">
            <i class="material-icons large">
              <span class="iconify" data-icon="mdi-github-circle" data-inline="false" data-width="40" data-height="40" style="color: #e33733;"></span>
            </i>
          </a>
        </div>
      </div>
      <div class="card shadow-elem">
        <div class="card-content">
          <span class="card-title">À propos</span>
          <p>BecauseOfProg, c'est des développeurs rassemblés autour de projets communs tels que le blog.</p>
        </div>
        <div class="card-action white-text card-action-bop-links">
          <a class="btn-flat waves-effect primary--text" href="/page/about">
            <i class="material-icons right">
              <span class="iconify" data-icon="mdi-information-outline"></span>
            </i>
            En savoir plus
          </a>
        </div>
      </div>
      <div class="card shadow-elem primary">
        <div class="card-content white-text">
          <span class="card-title">Les liens BecauseOfProg</span>
          <p>Nous partageons des liens vers des ressources, des blogs ou des articles intéressants, afin que vous puissiez vous aussi les découvrir.</p>
        </div>
        <div class="card-action white-text">
          <a href="https://twitter.com/BecauseOfProg/" class="white-text">Twitter</a>
          <a href="#" class="white-text">RSS</a>
        </div>
      </div>

      <div class="card shadow-elem">
        <div class="card-content">
          <span class="card-title">Catégories</span>
        </div>
        <div class="card-action card-action-bop-links">
          {% for url, category in categories.items() %}
            <a href="/categorie/{{url}}" class="black-text chip shadow-elem">
              <i class="material-icons left icon-chip">
                <span class="iconify" data-icon="mdi-{{category.icon}}"></span>
              </i>{{category.name}}
            </a><br/>
          {% endfor %}
          {% for url, type in types.items() %}
            <a href="/categorie/{{url}}" class="black-text chip shadow-elem">
              <i class="material-icons left icon-chip">
                <span class="iconify" data-icon="mdi-{{type.icon}}"></span>
              </i>{{type.name}}
            </a><br/>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col l1 no-mobile"></div>
    <div class="row container center">
      <div class="col s12">
        <div class="card author-card horizontal">
          <div class="card-image">
            <img src="{{ author.avatar }}" alt="Photo de profil de {{ author.displayname }}"/>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <span class="card-title">{{ author.displayname }}</span>
              <p><i>{{ author.description }}</i></p>
            </div>
            <div class="card-action">
              <a href="/user/{{ author.username }}">
                <img
                  src="https://cdn.becauseofprog.fr/v2/sites/becauseofprog.fr/assets/logos/bop.min.svg"
                  alt="Logo BecauseOfProg"/>
              </a>
              <!--{% if author.socials != "Non renseigné" %}<a href="https://twitter.com/{{ author.socials }}">
                  <img src="https://cdn.becauseofprog.fr/syst-icons/twitter.png">
                </a>{% endif %}
                {% if author.socials != "Non renseigné"%}<a href="https://github.com/{{ author.socials }}">
                  <img src="https://cdn.becauseofprog.fr/syst-icons/github.png">
                </a>{% endif %}-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row container">
      <div class="col s12">
        <div class="card">
          <div class="card-stacked">
            <div class="card-content">
              <span class="card-title">Commentaires sur l'article</span>
              <script data-isso="https://comments.becauseofprog.fr/"
                data-isso-lang="fr"
                data-isso-require-author="true"
                data-isso-require-email="true"
                data-isso-css="false"
                src="https://comments.becauseofprog.fr/js/embed.min.js"></script>

              <section id="isso-thread" data-title="Commentaires sur l'article"></section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}