{% extends "index.html" %}
{% block title %}BecauseOfProg{% endblock %}
{% block description %}Blog de programmation et actualités technologiques{% endblock %}
{% block url %}https://becauseofprog.fr{% endblock %}
{% block image %}https://cdn.becauseofprog.fr/logos/bop-transparent.png{% endblock %}
{% block author %}Équipe BecauseOfProg{% endblock %}

{% block content %}
<!-- Categories bar -->
<div class="navbar-fixed no-mobile">
  <nav class="semitransparent">
    <div class="nav-wrapper semitransparent">
      <ul class="center hide-on-med-and-down">
        {% for url, category in categories.items() %}
          <li class="waves-effect waves-light">
            <a href="/categorie/{{url}}">
              <i class="material-icons left">
                <span class="iconify" data-icon="mdi-{{category.icon}}"></span>
              </i>
              {{category.name}}
            </a>
          </li>
        {% endfor %}
        {% for url, type in types.items() %}
          <li class="waves-effect waves-light">
            <a href="/type/{{url}}">
              <i class="material-icons left">
                <span class="iconify" data-icon="mdi-{{type.icon}}"></span>
              </i>
              {{type.name}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>

<!-- Presentation carousel -->
<div class="carousel carousel-slider center welcome-bop-carousel">
  <div
    class="carousel-item white-text primary">
    <h3 class="carousel-bop-homepage-title">BecauseOfProg</h3>
    <h5 class="light grey-text text-lighten-3">Blog autour de la programmation créé par des passionnés</h5>
  </div>
  <div class="carousel-item white-text" lazy="{{ image_proxy('https://cdn.becauseofprog.fr/syst-images/dev.jpg', 1920, 0) }}">
    <h3 class="carousel-bop-homepage-title">Nos outils</h3>
    <h5 class="light grey-text text-lighten-3">Nous proposons plusieurs outils et services gratuits</h5>
    <a class="waves-effect waves-light btn primary center white-text" href="/page/projects">En savoir plus</a>
  </div>
</div>

<!-- Last article -->
<div class="row container">
  <div class="card hoverable">

      <div class="row">
        <div class="col s12 m12 l6">
          <a class="black-text center" href="/article/{{ last.url }}" id="main">
            <img src="{{ image_proxy(last.banner, 617.5, 0) }}" width="100%" class="border-radius-left">
          </a>
        </div>
        <div class="col s12 m12 l6">
          <div class="card-content">
            <a class="btn primary no-mobile new-button" href="/article/{{ last.url }}">
              <i class="material-icons left">
                <span class="iconify" data-icon="mdi-clock-outline"></span>
              </i>
              Nouveau!
            </a>
            <a class="normal-text" href="/article/{{ last.url }}">
              <h2 class="main-title">{{ last.title }}</h2>
            </a>
            <p>{{ last.description }}</p>
          </div>
        </div>
      </div>

  </div>
</div>

<div class="row container">
  {% for i in range(2) %}
    <div class="col s12 m6 l6 xl6">
      <div class="card sticky-action hoverable">
        <div class="card-image">
          <a class="normal-text" href="/article/{{ lasts[i].url }}">
            <img class="border-radius-top" lazy="{{ image_proxy(lasts[i].banner, 617, 347) }}" alt="Illustration de l'article">
          </a>
          <a href="/type/{{ lasts[i].type }}" class="btn-floating halfway-fab waves-effect waves-light primary">
            <i class="material-icons">
              <span class="iconify" data-icon="mdi-{{types[lasts[i].type].icon}}"></span>
            </i>
          </a>
        </div>
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">
            <a class="normal-text" href="/article/{{ lasts[i].url }}">
              {{ lasts[i].title }}
            </a>
          </span>
          <p>{{ lasts[i].description }}</p>
          <p>&nbsp;</p>
          <a class="no-style-link" href="/user/{{ lasts[i].author.username }}">
            <div class="chip waves-effect">
              <img
                lazy="{{ image_proxy(lasts[i].author.avatar, 32,32) }}"
                alt="Photo de profil de {{ lasts[i].author.displayname }}"/>
              {{ lasts[i].author.displayname }}
            </div>
          </a>
          <div class="chip">{{ lasts[i].timestamp.strftime('%d/%m/%Y') }}</div>
          <a href="/categorie/{{ lasts[i].category }}">
            <div class="chip waves-effect">
                {{ categories[lasts[i].category].name }}
            </div>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="row container">
  <a class="black-text center" href="/article/{{ lasts[2].url }}" id="main">
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img lazy="{{ image_proxy(lasts[2].banner, 226, 121) }}" class="border-radius-left">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <a class="normal-text card-title" href="/article/{{ lasts[2].url }}">
            {{ lasts[2].title }}
          </a>
          <a class="no-style-link" href="/user/{{ lasts[2].author.username }}">
            <div class="chip waves-effect">
              <img
                lazy="{{ image_proxy(lasts[2].author.avatar, 32,32) }}"
                alt="Photo de profil de {{ lasts[2].author.displayname }}"/>
              {{ lasts[2].author.displayname }}
            </div>
          </a>
          <div class="chip">{{ lasts[2].timestamp.strftime('%d/%m/%Y') }}</div>
          <div class="chip waves-effect">
            <a class="no-style-link normal-text" href="/categorie/{{ lasts[2].category }}">
              {{ categories[lasts[2].category].name }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>

<!-- Projects carousel -->
<div class="carousel carousel-slider center">
  <div
    class="carousel-item white-text"
    lazy="{{ image_proxy('https://cdn.becauseofprog.fr/v2/sites/becauseofprog.fr/assets/background-projects-5.jpg', 1920, 0) }}">
    <h3 class="carousel-bop-homepage-title shadow">Nos projets</h3>
    <h5 class="light grey-text text-lighten-3 shadow">BecauseOfProg, c'est aussi de nombreux projets</h5>
    <a class="waves-effect waves-light btn primary center white-text" href="/page/projects">En savoir plus</a>
  </div>
  <div
    class="carousel-item white-text"
    lazy="{{ image_proxy('https://cdn.becauseofprog.fr/v2/projects/yt-podcast/bg-min-2.jpg', 1920, 0) }}">
    <h3 class="carousel-bop-homepage-title">YouTube Podcasts</h3>
    <h5 class="light grey-text text-lighten-3">Transformez une chaîne YouTube ou une playlist en podcast</h5>
    <a
      class="waves-effect waves-light btn primary center white-text"
      href="https://podcast.becauseofprog.fr">
      Créer mon podcast
    </a>
  </div>
</div>

<div class="container row carousel-bop-homepage-title">
  <div id="links">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="primary">
<div class="container carousel-bop-homepage-title">
  <div class="row">
    <div class="col s12 m5">
      <div class="card">
        <div class="card-content">
          <h5 class="primary--text">Nos réseaux sociaux</h5>
          <p>Nous postons régulièrement des nouvelles, des tips et des astuces. Suivez-nous! </p>
          <br/>
          {% for social in socials %}
            <a class="black-text" href="{{social['link']}}">
              <span class="iconify" data-icon="mdi-{{social['icon']}}" data-inline="false" data-width="40" data-height="40" style="color: #e33733;"></span>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img lazy="{{ image_proxy('https://cdn.becauseofprog.fr/v2/sites/becauseofprog.fr/assets/new-banner.png', 724.167, 0) }}" class="border-radius-top">
          <span class="card-title shadow no-mobile">À propos de nous</span>
        </div>
        <div class="card-content justified">
          <p>La BecauseOfProg, c'est plusieurs développeurs rassemblés autour de projets communs, dont ce blog, depuis février 2017.
            Nous souhaitons avant tout nous améliorer dans divers domaines (développement, administration système,
            sécurité informatique...) et partager nos passions.
            Sur ce blog, nous partageons nos trouvailles, nos projets, notre point de vue.
          </p>
        </div>
        <div class="card-action card-action-bop-links">
          <a href="/page/about" class="primary--text">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
