<!DOCTYPE html>
<html lang="fr">
<head>
  {% block head %}
    <meta charset="utf-8"/>

    <meta name="apple-mobile-web-app-title" content="BecauseOfProg">
    <meta name="application-name" content="BecauseOfProg">
    <meta name="msapplication-TileColor" content="#ff514c">
    <meta name="theme-color" content="#ff514c">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="me" href="https://twitter.com/BecauseOfProg">

    <link rel="manifest" href="/static/manifest.json">
    <link rel="stylesheet" href="https://cdn.becauseofprog.fr/v2/libs/materialize/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="/static/bundle.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:locale" content="fr_fr">
    <meta name="twitter:creator" content="@BecauseOfProg">

    <link rel="alternate" type="application/atom+xml" title="BecauseOfprog - Tout le site" href="/tout.rss"/>
    <link rel="search" type="application/opensearchdescription+xml" title="BecauseOfprog - Blog"
          href="/static/opensearch.xml"/>
    <link rel="shortcut icon" href="https://cdn.becauseofprog.fr/v2/sites/becauseofprog.fr/assets/logos/favicon.ico">

    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{% block url %}{% endblock %}">
    <meta property="og:title" content="{{ self.title() }}">
    <meta property="og:description" content="{% block description %}{% endblock %}">
    <meta property="og:image" content="{% block image %}{% endblock %}">
    <meta name="author" content="{% block author %}{% endblock %}">

    <!-- Piwik -->
    <script>
      var _paq = _paq || [];
      _paq.push([function () {
        var self = this;

        function getOriginalVisitorCookieTimeout() {
          var now = new Date(),
            nowTs = Math.round(now.getTime() / 1000),
            visitorInfo = self.getVisitorInfo();
          var createTs = parseInt(visitorInfo[2]);
          var cookieTimeout = 33696000; // 13 mois en secondes
          var originalTimeout = createTs + cookieTimeout - nowTs;
          return originalTimeout;
        }

        this.setVisitorCookieTimeout(getOriginalVisitorCookieTimeout());
      }]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function () {
        var u = "https://analytics.becauseofprog.fr/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', '4']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
      })();
    </script>

    <script src="//code.iconify.design/1/1.0.0-rc1/iconify.min.js"></script>

    <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>
<body>
<noscript><img src="//analytics.becauseofprog.fr/piwik.php?idsite=4&rec=1" style="border:0;" alt=""/></noscript>

{% block header %}
  <!-- Mobile drawer -->
  <ul id="mobile-demo" class="sidenav">
    <li>
      <div class="user-view">
        <div class="background primary"></div>
        <a href="/">
          <img
            width="64px"
            src="https://cdn.becauseofprog.fr/v2/sites/becauseofprog.fr/assets/logos/bop.min.svg"
            alt="Logo BecauseOfProg"/>
        </a>
        <span class="white-text name">BecauseOfProg</span>
        <span class="white-text email">Menu de navigation</span>
      </div>
    </li>
    <li><a href="/categorie/software"><i class="material-icons left"><span class="iconify" data-icon="mdi-web"></span></i>Software</a></li>
    <li><a href="/categorie/security"><i class="material-icons left"><span class="iconify" data-icon="mdi-lock-outline"></span></i>Sécurité</a></li>
    <li><a href="/categorie/web"><i class="material-icons left"><span class="iconify" data-icon="mdi-public"></span></i>Web</a></li>
    <li><a href="/categorie/hardware"><i class="material-icons left"><span class="iconify" data-icon="mdi-sim"></span></i>Hardware</a></li>
    <li><a href="/categorie/programming"><i class="material-icons left"><span class="iconify" data-icon="mdi-code-tags"></span></i>Programmation</a></li>
    <li><a href="/categorie/android"><i class="material-icons left"><span class="iconify" data-icon="mdi-android"></span></i>Android</a></li>
    <li><a href="/categorie/linux"><i class="material-icons left"><span class="iconify" data-icon="mdi-linux"></span></i>Linux</a></li>
    <li><a href="/categorie/windows"><i class="material-icons left"><span class="iconify" data-icon="mdi-windows"></span></i>Windows</a></li>
    <li><a href="/categorie/apple"><i class="material-icons left"><span class="iconify" data-icon="mdi-apple"></span></i>Apple</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a href="/blog"><i class="material-icons left"><span class="iconify" data-icon="mdi-file-document-box-multiple-outline"></span></i>Tous les articles</a></li>
    <li><a href="/page/search"><i class="material-icons left"><span class="iconify" data-icon="mdi-magnify"></span></i>Rechercher</a></li>
    <li><a href="/page/projects"><i class="material-icons left"><span class="iconify" data-icon="mdi-package-variant"></span></i>Projets</a></li>
    <li><a href="/page/links"><i class="material-icons left"><span class="iconify" data-icon="mdi-link"></span></i>Liens</a></li>
    <li><a href="/page/about"><i class="material-icons left"><span class="iconify" data-icon="mdi-information-outline"></span></i>A propos</a></li>
    <li><a class="waves-effect waves-light btn primary" href="/login">Connexion</a></li>
    <li>
      &nbsp;
    </li>
  </ul>

  <div class="navbar-fixed topbar">
    <nav class="primary"></nav>
  </div>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="logo brand-logo primary--text">
          <span class="no-mobile">
            <img
              src="https://cdn.becauseofprog.fr/v2/sites/becauseofprog.fr/assets/logos/bop.min.svg"
              alt="Logo BOP">
          </span>
          &nbsp;BecauseOfProg
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">
            <span class="iconify primary--text" data-icon="mdi-menu"></span>
          </i>
        </a>
        <ul class="row right hide-on-med-and-down">
          <div id='navbar-links-container'>
            <li class="waves-effect waves-light">
              <a href="/blog" class="primary--text">
                <i class="material-icons left">
                  <span class="iconify" data-icon="mdi-file-document-box-multiple-outline"></span>
                </i>
                Tous les articles
              </a>
            </li>
            <li class="waves-effect waves-light">
              <a href="/page/projects" class="primary--text">
                <i class="material-icons left">
                  <span class="iconify" data-icon="mdi-package-variant"></span>
                </i>
                Projets
              </a>
            </li>
            <li class="waves-effect waves-light">
              <a href="/page/links" class="primary--text">
                <i class="material-icons left">
                  <span class="iconify" data-icon="mdi-link"></span>
                </i>
                Liens
              </a>
            </li>
            <li>
              <a id="search-field-open" class="primary--text">
                <i class="material-icons">
                  <span class="iconify" data-icon="mdi-magnify"></span>
                </i>
              </a>
            </li>
            <li>
              <a
                class="account-button primary--text"
                href="/account">
                <i
                  class="material-icons tooltipped"
                  data-position="bottom"
                  data-tooltip="Mon compte">
                  <span class="iconify" data-icon="mdi-account-circle-outline"></span>
                </i>
              </a>
            </li>
          </div>
          <div class="col s12 hide" id="search-field-container">
            <form action="/page/search">
              <li><input
                   id="search-field"
                   type="search"
                   name="q"
                   class="validate"
                   required
                   placeholder="Recherche..."
                   style="box-shadow: 0 2px 0 0 white !important; border-bottom: none !important; color: white;"></li>
              <li><a id="search-field-close"><i class="material-icons left"><span class="iconify" data-icon="mdi-close"></span></i></a></li>
            </form>
          </div>
        </ul>
      </div>
    </nav>
  </div>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  <footer class="page-footer primary">
    <div class="container shadow" style="padding-bottom: 20px;">
      Réalisé par l'équipe BecauseOfProg
      <a class="right grey-text text-lighten-4" href="/page/about">À propos</a>
    </div>
  </footer>
{% endblock %}

<script src="https://cdn.becauseofprog.fr/static-v3/materialize.min.js"></script>
<script src="/static/bundle.js"></script>

</body>
</html>
