{% extends "index.html" %}
{% block title %}Compte BecauseOfProg{% endblock %}
{% block description %}Votre compte sur le site de BecauseOfProg{% endblock %}
{% block url %}https://becauseofprog.fr/account{% endblock %}
{% block image %}https://cdn.becauseofprog.fr/logos/bop-transparent.png{% endblock %}
{% block author %}Équipe BecauseOfProg{% endblock %}

{% block content %}
  <div class="welcome parallax-container h250px">
    <div class="parallax primary"></div>
    <h4 class="header white-text">
      <i class="material-icons md-48">
        <span class="iconify" data-icon="mdi-account-circle-outline"></span>
      </i>
      <br>Mon compte - BecauseOfProg
    </h4>
  </div>

  <div class="container">
    {{ breadcrumb(['Compte', 'Mon compte'])|safe }}
  </div>
  
  <div class="container row">
    <div class="col l8 s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Bienvenue sur votre compte BecauseOfProg, {{ user.displayname }}.</span> 
          <p>Cette page sera complétée ultérieurement.</p>
        </div>
        <div class="card-action card-action-bop-links">
          {% if "BLOG_WRITE" in user.permissions %}
            <a class="btn-flat waves-effect primary--text" href="/new-post">
              <i class="material-icons left">
                <span class="iconify" data-icon="mdi-pencil"></span>
              </i>
              Écrire un article
            </a>
          {% endif %}
          <a class="btn-flat waves-effect primary--text" href="/logout">
            <i class="material-icons left">
              <span class="iconify" data-icon="mdi-logout"></span>
            </i>
            Se déconnecter
          </a>
        </div>
      </div>

      <div class="card author-card horizontal">
        <div class="card-image">
          <img src="{{ user.avatar }}" alt="Photo de profil de {{ user.displayname }}">
        </div>
        <div class="card-stacked center">
          <div class="card-content">
            <span class="card-title">{{ user.displayname }}</span>
            <p><i>{{ user.biography }}</i></p>
          </div>
          <div class="card-action">
            <a href="/user/{{ user.username }}">
              <img src="https://cdn.becauseofprog.fr/v2/sites/becauseofprog.fr/assets/logos/bop.min.svg">
            </a>
            <!--{% if user.socials != "Non renseigné" %}<a href="https://twitter.com/{{ user.socials }}">
                <img src="https://cdn.becauseofprog.fr/syst-icons/twitter.png">
              </a>{% endif %}
              {% if user.socials != "Non renseigné"%}<a href="https://github.com/{{ user.socials }}">
                <img src="https://cdn.becauseofprog.fr/syst-icons/github.png">
              </a>{% endif %}-->
          </div>
        </div>
      </div>

      <div class="card shadow-elem">
        <div class="card-content">
          <span class="card-title">Modifier mon compte</span>
          <p>Cette fonctionnalité n'est pas encore disponible.</p>
        </div>
      </div>
    </div>
    <div class="col l4 s12">
      <div class="card shadow-elem primary">
        <div class="card-content white-text">
          <span class="card-title">Votre compte BecauseOfProg</span>
          <p>Votre compte est global, utilisable sur le site entier. Nous mettons tout en oeuvre pour assurer la
              sécurité et la confidentialité de vos données sur nos serveurs.</p>
        </div>
        <div class="card-action white-text">
          <a href="/page/about" class="white-text">A propos</a>
          <a href="/" class="white-text">Blog</a>
        </div>
      </div>

      <div class="card shadow-elem">
        <div class="card-content">
          <span class="card-title">Mes données</span>
          <p>Le RGPD (Règlement général sur la protection des données) est entré en application en mai 2018. Il vous permet d'accéder, de rectifier et de supprimer l'ensemble des données que vous nous avez confié. Vous pouvez nous envoyer un mail ou un message (tout simple), et nous procéderons votre requête sous un délai d'un mois.</p>
        </div>
        <div class="card-action">
          <a href="mailto:contact@becauseofprog.fr" class="primary--text">Nous contacter</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}