{% extends "index.html" %}
{% block title %}Compte BecauseOfProg{% endblock %}
{% block description %}Votre compte sur le site de BecauseOfProg{% endblock %}
{% block url %}https://becauseofprog.fr/account{% endblock %}
{% block image %}https://cdn.becauseofprog.fr/logos/bop-transparent.png{% endblock %}
{% block author %}Équipe BecauseOfProg{% endblock %}

{% block content %}
  <div class="welcome parallax-container h250px">
    <div class="parallax">
      <img src="https://cdn.becauseofprog.fr/syst-images/bg.jpg" alt="Fond BecauseOfProg"/>
    </div>
    <h4 class="header white-text">
      <i class="material-icons md-48">account_circle</i>
      <br>Mon compte - BecauseOfProg
    </h4>
  </div>
  <div class="container row">
    <div class="col l8 s12">
      <div class="card hoverable">
        <div class="card-content">
          <p>Bienvenue sur votre compte BecauseOfProg, {{ user.displayname }}. Cette page sera complétée ultérieurement.</p>
          {% if "BLOG_WRITE" in user.permissions %}
            <a class="btn red darken-4" href="/new-post">
              <i class="material-icons left">edit</i>
              Écrire un article
            </a>
          {% endif %}
          <a class="btn red darken-4" href="/logout">
            <i class="material-icons left">power_settings_new</i>
            Se déconnecter
          </a>
        </div>
      </div>

      <div class="card author-card horizontal">
        <div class="card-image">
          <img src="{{ user.avatar }}">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">{{ user.displayname }}</span>
            <p><i>{{ user.description }}</i></p>
          </div>
          <div class="card-action">
            <a href="/user/{{ user.username }}">
              <img src="https://cdn.becauseofprog.fr/logos/bop-transparent.png">
            </a>
            <!--{% if user.socials != "Non renseigné" %}<a href="https://twitter.com/{{ user.socials }}">
                <img src="https://cdn.becauseofprog.fr/syst-icons/twitter.png">
              </a>{% endif %}
              {% if user.socials != "Non renseigné"%}<a href="https://github.com/{{ user.socials }}">
                <img src="https://cdn.becauseofprog.fr/syst-icons/github.png">
              </a>{% endif %}-->
          </div>
        </div>
      </div>
    </div>
    <div class="col l4 s12">
      <ul class="collection z-depth-2">
        <li class="collection-item">
          <h5>Votre compte BecauseOfProg</h5>
          <p>Votre compte est global, utilisable sur le site entier. Nous mettons tout en oeuvre pour assurer la
            sécurité et la confidentialité de vos données sur nos serveurs.</p>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}