{% extends "index.html" %}
{% block title %}Connexion - Compte BecauseOfProg{% endblock %}
{% block description %}Connectez vous sur le site de BecauseOfProg{% endblock %}
{% block url %}https://becauseofprog.fr/login{% endblock %}
{% block image %}https://cdn.becauseofprog.fr/logos/bop-transparent.png{% endblock %}
{% block author %}Équipe BecauseOfProg{% endblock %}

{% block content %}
  <div class="welcome parallax-container h250px">
    <div class="parallax">
      <img
        src="https://cdn.becauseofprog.fr/v2/sites/becauseofprog.fr/assets/background.jpg"
        alt="Fond BecauseOfProg"/>
    </div>
    <h4 class="header white-text">
      <i class="material-icons md-48">
        <span class="iconify" data-icon="mdi-account-circle-outline"></span>
      </i>
      <br>Connexion - BecauseOfProg
    </h4>
  </div>
  <div class="container row">
    <div class="col l8 s12">
      <div class="card">
        <div class="card-content">
          {% if error %}<p>Erreur : {{ error }}</p><br />{% endif %}
          <p>Pour profiter de certaines fonctionnalités du site et empêcher le spam, vous devez vous connecter à votre
            compte BecauseOfProg.</p>
          <form method="post">
            <div class="input-field col s12">
              <i class="prefix material-icons primary--text">
                <span class="iconify" data-icon="mdi-email-outline"></span>
              </i>
              <input id="username" type="email" class="validate" name=username>
              <label for="username">E-mail</label>
            </div>
            <div class="input-field col s12">
            <i class="prefix material-icons primary--text">
                <span class="iconify" data-icon="mdi-key-outline"></span>
              </i>
              <input id="password" type="password" class="validate" name=password>
              <label for="password">Mot de passe</label>
            </div>
            <button class="btn-flat waves-effect primary--text" type="submit" name="action">Se connecter
              <i class="material-icons right">
                <span class="iconify" data-icon="mdi-login"></span>
              </i>
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col l4 s12">
      <ul class="collection z-depth-2">
        <li class="collection-item">
          <h5 class="primary--text">Votre compte BecauseOfProg</h5>
          <p>Votre compte est global, utilisable sur le site entier. Nous mettons tout en oeuvre pour assurer la
            sécurité et la confidentialité de vos données sur nos serveurs.</p>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}