{% extends "index.html" %}
{% block title %}Rédiger un article - Staff BecauseOfProg{% endblock %}
{% block description %}Écrire et publier un article sur le blog{% endblock %}
{% block url %}https://becauseofprog.fr{% endblock %}
{% block image %}https://cdn.becauseofprog.fr/logos/bop-transparent.png{% endblock %}
{% block author %}Équipe BecauseOfProg{% endblock %}

{% block content %}
  <div class="welcome parallax-container">
    <div class="parallax">
      <img src="https://cdn.becauseofprog.fr/syst-images/bg.jpg" alt="Fond BecauseOfProg"/>
    </div>
    <img src="https://cdn.becauseofprog.fr/logos/bop-transparent.png" class="responsive-img bop-logo" alt="Logo BOP">
    <h2 class="header white-text">Écrire un article</h2>
  </div>

<div class="row container">
  <!--<p class="center">Votre article a bien été publié !<br />
    <a href="https://becauseofprog.fr/blog/#articles">Accéder</a>
  </p>-->
  <form class="col s12" method="post">
    <div class="row">
      <div class="input-field col s12 m6">
        <input type="text" name="title" id="title" required data-length="100"/>
        <label for="title">Titre</label>
      </div>
      <div class="input-field col s12 center">
        <select name="category" id="category">
          <option value="" disabled selected>Catégorie</option>
          {% for url, category in categories.items() %}
            <option value="{{url}}">{{category.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="input-field col s12 m6">
        <input type="text" name="url" id="url" required data-length="50"/>
        <label for="url">URL (Sans accents, séparés avec tirets)</label>
      </div>
      <div class="input-field col s12 m6">
        <input type="url" name="banner" id="banner" required/>
        <label for="banner">Lien vers la bannière (https obligatoire)</label>
      </div>
      <div class="input-field col s12 center">
        <select name="type" id="type">
          <option value="" disabled selected>Type</option>
          {% for url, type in types.items() %}
            <option value="{{url}}">{{type.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="input-field col s12">
        <textarea cols="250" rows="10" name="md-editor" id="md-editor"></textarea>
      </div>
      <div class="input-field col s12">
        <textarea id="description" name="description" class="materialize-textarea" required
                  data-length="255"></textarea>
        <label for="description">Description</label>
      </div>
      <div class="input-field col s12">
        <input type="text" name="labels" id="labels" required/>
        <label for="labels">Labels de l'article (séparés par des virgules)</label>
      </div>
      <div class="input-field col s12 center">
        <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">Publier</button>
      </div>
    </div>
  </form>
</div>

  <!--<script src="//cdn.ckeditor.com/4.6.2/full/ckeditor.js"></script>-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script type="text/javascript">
    var simplemde = new SimpleMDE({element: document.getElementById("md-editor")});
    simplemde.value("## Créez votre article grâce au nouvel éditeur Markdown  \nNe vous inquiétez pas, l'éditeur est simple à prendre en main. Bonne rédaction!");
  </script>
{% endblock %}