{% extends "index.html" %}
{% block title %}{{ user.displayname }} - Profil BecauseOfProg{% endblock %}
{% block description %}{{ user.description }}{% endblock %}
{% block url %}https://becauseofprog.fr/user/{{ user.username }}{% endblock %}
{% block image %}https://cdn.becauseofprog.fr/logos/bop-transparent.png{% endblock %}
{% block author %}Équipe BecauseOfProg{% endblock %}

{% block content %}

  <div class="welcome parallax-container">
    <div class="parallax">
      <img
        src="https://cdn.becauseofprog.fr/v2/sites/becauseofprog.fr/assets/background.jpg"
        alt="Fond BecauseOfProg"/>
    </div>
    <img
      src="{{ user.avatar }}"
      alt="Avatar de {{ user.displayname }}"
      class="user-avatar-header responsive-img bop-logo"
      style="width: 200px; border-radius: 50%;">
    <h2 class="header white-text">{{ user.displayname }}</h2>
    <h5 class="subtitle grey-text">{{ user.description }}</h5>
  </div>
  <div class="container row">
    <p class="bop-breadcrumb">
      <a href="/" class="black-text">BecauseOfProg</a>
      <i class="material-icons"><span class="iconify" data-icon="mdi-chevron-right"></span></i>
      <a class="black-text">Utilisateur</a>
      <i class="material-icons"><span class="iconify" data-icon="mdi-chevron-right"></span></i>
      <a href="" class="black-text">{{ user.displayname }}</a>
    </p>
    <div class="col l8 s12">
      <h2>La page utilisateur est en travaux.</h2>
    </div>
  </div>
{% endblock %}